<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>FileUploadHandler</servlet-name>
    <servlet-class>FileUploadHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistrationHandler</servlet-name>
    <servlet-class>RegistrationHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>LoginHandler</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>DownloadHandler</servlet-name>
    <servlet-class>DownloadHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DirectoryInfo</servlet-name>
    <servlet-class>DirectoryInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadHandler</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadHandler</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationHandler</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DirectoryInfo</servlet-name>
    <url-pattern>/directory</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>